.title {
    text-align: center;
    font-size: 60px;
}

#hardware-naam {
    font-size: 23px;
}

#foto {
    height: 40px;
}

.btn{
    color: rgb(255, 255, 255);
    text-decoration: none;   
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#service-naam{
    font-size: 25px;
}

.info-service {
    font-size: 20px;
}

button {
    background-color: rgb(230, 191, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
     outline: rgb(255, 213, 0) solid 3px;
    padding: 5px;
}