.title {
    text-align: center;
    font-size: 60px;
}

#hardware-naam {
    font-size: 23px;
}

#foto {
    height: 40px;
}

.btn {
    color: rgb(69, 69, 69);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#service-naam{
    font-size: 25px;
}

.info-service {
    font-size: 20px;
}