.title {
    text-align: center;
    font-size: 60px;
}

#hardware-naam {
    font-size: 30px;
}

#foto {
    height: 50px;
}

#foto-4 {
    height: 70px;
}

.btn{
    color: rgb(255, 255, 255);
    text-decoration: none;   
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#service-naam{
    font-size: 25px;
}

.info-service {
    font-size: 20px;
}

button {
    background-color: rgb(244, 21, 21);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
     outline: rgb(255, 0, 0) solid 4px;
    padding: 5px;
}